<p>De : {{ post.meta( 'full_name' ) }} <{{- post.meta( 'email' ) -}}></p>
<p>Message :<br>{{ post.meta( 'message' ) }}</p>

--
Cet email a été envoyé via le formulaire de contact de Les Rapporteuses ({{ site.url }})
