{#
 # Collection: Member
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% for post in posts %}
	<div class="sm:col-6/12 lg:col-4/12">
		{{- include( 'components/tease-member.html.twig', { post: post, classes: [ 'h-full' ] } ) -}}
	</div>
{% endfor %}
