{#
 # Collection: None
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div class="lg:col-4/12">
	{{- __( 'Not found', 'creatorfund' ) -}}
</div>
