{#
 # Duotone
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<div
	class="{{ html_classes(
		'after:absolute',
		'before:absolute',
		'after:bg-theme-red',
		'before:bg-theme-blue',
		'after:mix-blend-multiply',
		'before:mix-blend-color',
		'after:w-full',
		'before:w-full',
		'after:h-full',
		'before:h-full',
		'after:inset-0',
		'before:inset-0',
		'after:z-10',
		'before:z-10',
		classes | default( [] ) | join( ' ' )
	) }}"
>
	{% block content %}{% endblock %}
</div>
