{#
 # Socials
 #
 # @package WordPress
 # @subpackage LesRapporteuses
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% if socials is iterable %}
	<ul class="{{ html_classes( 'gap-4', classes | default( [ 'flex' ] ) | join( ' ' ) ) }}">
		{% for social in socials %}
			<li>
				{%- embed 'components/button-rounded.html.twig' with { attributes: { href: social.url, target: '_blank', rel: 'noopener noreferer' }, tag: 'a' } -%}
					{% block title %}{{- icon( social.slug, { classes: [ 'w-5', 'h-5' ] } ) -}}{% endblock %}
				{%- endembed -%}
			</li>
		{% endfor %}
	</ul>
{% endif %}
