{#
 # Split text
 #
 # @package WordPress
 # @subpackage CreatorFund
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

{% if text %}
	{% set lines = text | nl2br | split( '<br />' ) | map( line => line | trim ) %}
	{% set delay = delay | default( 0 ) %}

	{% apply spaceless %}
		<span class="overflow-hidden block" data-scroll>
			{% for line in lines %}
				{% set letters = line | split( '' ) %}

				{% for letter in letters %}
					<span
						class="align-baseline opacity-0 inline-block is-inview:opacity-100"
						style="transition-delay: {{ ( loop.index0 * 35 ) + delay + ( ( loop.parent.loop.index0 * length | default( 0 ) ) * 35 ) }}ms;"
					>
						{{- ( letter == ' ' ? '&nbsp;' : letter ) | trim -}}
					</span>
				{% endfor %}

				{% set length = letters | length %}

				{{- loop.last ? '' : '</br>' -}}
			{% endfor %}
		</span>
	{% endapply %}
{% endif %}
