{#
 # Footer
 #
 # @package WordPress
 # @subpackage LesRapporteuses
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<footer class="{{ html_classes( classes | default( [] ) | join( ' ' ), 'my-8 lg:my-24' ) }}">
	<div class="container">
		<div class="row">
			<div>
				<div class="flex justify-center gap-x-4">
					{{- include( 'components/socials.html.twig', { classes: [] } ) -}}

					{%- embed 'components/button-rounded.html.twig' with { attributes: { href: "mailto:#{ public_email }", target: '_blank', rel: 'noopener noreferer' }, tag: 'a' } -%}
						{% block title %}{{- icon( 'envelope', { classes: [ 'w-5', 'h-5' ] } ) -}}{% endblock %}
					{%- endembed -%}
				</div>
			</div>
		</div>
	</div>
</footer>
